*{
    padding: 0 auto;
    margin: 0 auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


:root {
    --primary-color: red;
  }

.bs {

    box-shadow: 7px 7px 3px black
}

.clear{

    clear: both;
}

#hamnav {
    border-radius: 10px;
    width: 65%;
    /* Optional */
    position: fixed;
    left: 17%;
    top: 20px;
    z-index: 999;
  }
  
  /* Hide Hamburger */
  #hamnav label, #hamburger { display: none; }
  
  /* Horizontal Menu Items */
  #hamitems { display: flex; }
  #hamitems a {
    width: 30%; /* 100% / 5 tabs = 20% */
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color:black;
    text-decoration: none;
    text-align: center;
    border-radius: 10px;
    border: 4px solid #607848;
    background-color: rgba(96, 120, 72, 30%);
  }
  #hamitems a:hover {
    transition: 0.3s;
    border:4px solid #c0d860;
    background-color: rgba(96, 120, 72, 100%);
  }

.mainslider {
    width: 100%;
    position: relative;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(/images/banner3.jpg);
        height: 300px;
        animation-duration: 10s;
        animation-name: flowhide;
        overflow: hidden;
        animation-iteration-count: infinite;
}

@keyframes flowhide{

    0%{
        background-image: url(/images/banner3.jpg);
    }

    25% {

        background-image: url(/images/banner2.jpg);

    }

    75%{
        background-image: url(/images/banner4.jpg);

    }
    
    to{
        background-image: url(/images/banner1.jpg);
    }
}

.welcome{
    width: 100%;
    background-color: white;
    min-height: 300px;
}

.welcome > .welcometitle {

    text-align: left;
    text-decoration: none;
    padding-left: 40px;
    padding-top: 40px;

}

.welcome > .welcomesubtitle {
    text-align: left;
    padding-left: 40px;
    padding-top: 20px;
    width: 200px;
    margin: 0px;
    
}

.mainform{

    background-color:#607848;
    width: 100%;
    max-height: 950px;
    padding-top: 60px;
    overflow: hidden;
    
}

.mainform .calling{

    width: 30%;
    height: 40px;
    background-color: #c0d860;
    padding-top: 30px;
    padding-bottom: 40px;
    border-radius: 15px;
    text-align: left;
    font-size: 23px;

}

.calling p{
    position: relative;
    left: 45px;
    display: block;
    
}

.conteiner-form {
    padding-top:60px ;
    padding-bottom: 60px;
    position: relative;
    left: 30%;
}

.conteiner-form label {

    font-size: 25px;
    display: block;
    padding-bottom: 20px;
    font-weight: bold;
    position: relative;
}

.conteiner-form label:nth-of-type(1) {

    position: relative;
    left: -25%;
}
.conteiner-form label:nth-of-type(2) {

    position: relative;
    left: -25%;
}
.conteiner-form label:nth-of-type(3) {

    position: relative;
    left: -25%;
}

.conteiner-form label:nth-of-type(4) {

    position: relative;
    left: 25%;
    top: -367px;
}

.conteiner-form label:nth-of-type(5) {

    position: relative;
    left: 25%;
    top: -410px;
}

.conteiner-form label:nth-of-type(6) {

    position: relative;
    left: 48%;
    top: -535px;
}

 #pack {

    position: relative;
    left: 25%;
    top: -605px;
}

#promo {

    position: relative;
    left: 25%;
    top: -610px;
}


.conteiner-form input[type="text"]:nth-of-type(1) {

    position: relative;
    left: -25%;
}
.conteiner-form input[type="text"]:nth-of-type(2) {

    position: relative;
    left: -25%;
}
.conteiner-form input[type="text"]:nth-of-type(3) {

    position: relative;
    left: -25%;
}

.conteiner-form #double {

    position: relative;
    left: 36%;
    top: -460px;
    border: 0;
}

.conteiner-form #single {

    position: relative;
    left: 60%;
    top: -583px;
    border: 0;
}


.conteiner-form input[type=text]{

    box-sizing: border-box;
    border: 0;
    width: 40%;
    min-height: 50px;
    font-size: 25px;
    background-color: #c0d860;
    outline: none;
}

.conteiner-form #roomtype{

    width: 42%;
    height: 50px;
    font-size: 25px;
    background-color: #c0d860;
    outline: none;
    position: relative;
    left:25%;
    top: -367px;
    border: 0;
}

.conteiner-form input::placeholder {

    padding-left: 30px;
    box-sizing: border-box;
}

.conteiner-form #promo {

    width: 42%;
    height: 50px;
    font-size: 25px;
    background-color: #c0d860;
    outline: none;
    border: 0;
}

.conteiner-form input[type="number"]{

    width: 7%;
    height: 50px;
    font-size: 25px;
    color: rgba(15, 15, 15,100);
    background-color: #c0d860;
    border: 0;
    outline: none;
}


.conteiner-form input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;

}

.conteiner-form input[type="submit"] {

    width: 60%;
    height: 50px;
    font-size: 25px;
    background-color: #c0d860;
    border: 0;
    position: relative;
    left: -10%;
    top: -550px;

}

.conteiner-form #host-number {

    width: 100%;
    min-height: 40px;
    font-size: 25px;
    font-weight: bold;
    padding-top: 30px;
    padding-bottom: 20px;
    position: relative;
    left: 25%;
    top: -372px;

}

.conteiner-form #pack{

    font-size: 25px;
    font-weight: bold;
}

.othercontact{

    width: 95%;
    min-height: 140px;
    position: relative;
    left: -30%;
    top: -500px;
}

.othercontact p { 

    width: 90%;
    text-align: left;
    box-sizing: content-box;
    position: relative;
    top: -10px;
    color:#c0d860;
    font-size: 30px;
}


.fcontact p {

    padding-top: 10px;
    padding-bottom: 10px;
    left: 3%;
    font-size: 30px;
}

.fcontact ul {

    padding-top: 10px;
    padding-bottom: 10px;
}

.fcontact ul li {

    display: inline-block;
    list-style: none;
    position: relative;
    right:-8%;
}
.fcontact a:visited {

    color:black;
}

.socialmedia{

    padding: 0px;
}


.mainrooms {

    width: 100%;
    max-height: 650px;
    overflow: hidden;
    padding: 0px;
}

.standardroom{
    width: 40%;
    position: relative;
    right: 25%;
    top: 100px;
    bottom: 1px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.standardroom:hover {

    background-color: #607848;
    position: relative;
    transition: 1s;
    border-radius: 15px;
    cursor: pointer;
    
}

.standardroom .roomdescription {

    visibility: hidden;
}

.standardroom:hover .roomdescription {

    visibility: initial;

}


.standardroomimg {

    background-image: url(/images/frente1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
    padding: 0;
    
}

.cottage {

    width: 40%;
    text-align: center;
    padding: 0;
    position: relative;
    left: 25%;
    top: -310px;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cottage p {
    visibility: hidden;
}

.cottage:hover p {
    visibility: initial;
}

.cottage:hover {

    transition: 1s;
    background-color: #607848;
    border-radius: 20px;
    cursor: pointer;
}


.cottageimg{

    background-image: url(/images/frente2.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 350px;
}

.conteiner-about {

    width: 100%;
    max-height: 1700px;
    position: relative;
    overflow: hidden;
    background-color: #604848;
}

.title-about {

    position: relative;
    left: -33%;
    top: 10px;
    width: 30%;
    height: 70px;
    font-size: 35px;
    border-bottom: solid black 4px;
    text-shadow: 2px 2px 4px #000000;
}

#abouttitle{
    color: white;
}

.boxdescription{

    color:rgba(15, 15, 15,0);
    width: 70%;
    height: 80px;
}

.boxsubtitle {

    text-align: center;
    font-size: 25px;
    
}

.aboutbox {

    border-top: 30px solid #c0d860;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    padding-bottom: 30px;
}

.breakfast {

    width: 50%;
    height: 350px;
    position: relative;
    left: -25%;
    top: 100px;
    background-color: #607848;
}

.breakfast:hover .boxdescription {
    display: block;
    transition: 1s;
    color:rgba(15, 15, 15,100);
}

.breakfast:hover {

    height: 550px;
    transition: 0.5s;
}



.breakfastimg {

    background-image: url(/images/breakfast.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 350px;
}

.restaurant {

    width: 50%;
    height: 350px;
    position: relative;
    right: -25%;
    top: -70px;
    background-color: #607848;
}

.restaurantimg {

    background-image: url(/images/restaurant.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 350px;
}

.restaurant:hover .boxdescription {
    display: block;
    transition: 1s;
    color:rgba(15, 15, 15,100);
}

.restaurant:hover {

    height: 550px;
    transition: 0.5s;
}

.sauna {

    width: 50%;
    height: 350px;
    position: relative;
    left: -25%;
    top: -180px;
    background-color: #607848;
}


.saunaimg {

    background-image: url(/images/sauna.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 350px;
}

.sauna:hover .boxdescription {
    display: block;
    transition: 1s;
    color:rgba(15, 15, 15,100);
}

.sauna:hover {

    height: 550px;
    transition: 0.5s;
}

.river {

    width: 50%;
    height: 350px;
    position: relative;
    right: -25%;
    top: -340px;
    background-color: #607848;
}

.riverimg {

    background-image: url(/images/riacho.jpg);
    background-size: cover;
    background-position: center;
    width: 80%;
    height: 350px;
}

.river:hover .boxdescription {
    display: block;
    transition: 1s;
    color:rgba(15, 15, 15,100);
}

.river:hover {

    height: 550px;
    transition: 0.5s;
}

.conteiner-gallery {

    width: 100%;
    height: 1050px;
}

.flexslider {

    width: 90%;
    height: 800px;
    position: relative;
    left: 5%;
    top: 50px;

}

.flex-caption {

    visibility: hidden;
}

.flexslider:hover .flex-caption {
    transition: 1s;
    border-radius: 15px;
    visibility: visible;
    margin-bottom: 0;
    width: 96%;
    padding: 2%;
    left: 0;
    bottom: 0;
    background: #607848;
    color: #fff;
    font-size: 20px;
    line-height: 18px;  }


.conteiner-map {

    width: 100%;
    height: 700px
}
.mapbox {

    width: 25%;
    height: 45%;
    background-image:url(/images/map.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 0px;
    border: solid 4px #738B19;
 
}

.mapbox:hover {

    transition: 0.3s;
    cursor: pointer;
    border-radius: 15px;
}



.mapbox p {
    font-size: 20px;
    position: relative;
    text-align: center;
    padding-left: 15px;
    top: -50px;
    background-color:rgba(192, 216, 96, 100);
    border-radius: 15px;
}

.mapbox:hover p {

    transition: 0.3s;
    background-color:rgba(192, 216, 96, 0);
    font-size: 30px;
}


#box1 {

    left: -30%;
    top: 100px;
}

#box2 {

    left: -0.1%;
    top: -225px;
}

#box3 {

    left: 30%;
    top: -550px;

}

.conteiner-promo {

    width: 100%;
    height: 500px;
}
.promobox {

    width: 25%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    cursor: pointer;
    
    
}

.promobox p {
    height: 40px;
    font-size: 25px;
    position: relative;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    top: -50px;
    background-color: #c0d860;
    text-align: center;
    border-radius: 15px;
    z-index: -999;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

.promobox:hover p {
    padding-bottom: 335px;
    font-size: 30px;
    font-weight: bolder;
    transition: 0.5s;

}

#box4 {

    background-image:url(/images/promo1.jpg);
    left: -30%;
    top: 100px;
}

#box5 {

    background-image:url(/images/promo2.jpg);
    left: -0.1%;
    top: -200px;
}

#box6 {

    background-image:url(/images/promo3.jpg);
    left: 30%;
    top: -500px;
}

.bgfooter {

    background-color: #607848;
    width: 100%;
    height: 170px;
    overflow: hidden;
    font-weight: bolder;
    margin-top: 230px;
}

#privacity {
    width: 20%;
    position: relative;
    top: 130px;
    left: 75%;
    border: solid #c0d860 3px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
    cursor:pointer;
  
}

#privacity a:link {

    color: #c0d860;
    text-decoration: none;
}

#privacity a:visited{
    color: #c0d860;
    text-decoration: none;
   
}

#terramar {

    position: relative;
    top: 110px;
    padding-left: 30px;
}

#ournumber {

    padding-left: 30px;
}

#address {

    padding-left: 30px;
}

@media screen and (max-width: 900px){


    /* Show Hamburger Icon */


#hamnav {

    left: -1%;
    top:0px;
}
#hamnav label { 
    display: inline-block; 
    color: white;
    background: #604848;
    font-style: normal;
    font-size: 1.2em;
    width: 200%;
    padding: 10px;
    text-align: left;
    }

    /* Break down menu items into vertical */
    #hamitems a {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-top: 1px solid #333;
    }
    
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block;  }

.mainslider{
    margin-top: 30px;
}

.mainform {

    max-height: 1060px;
}

.othercontact {

    height: 300px;
}

.fcontact {

    top: -518px;
    border-radius: 0;
    left: -30%;
    width: 100%;
}

.fcontact p {

    position: relative;
    left: -1%;
}

.fcontact ul li {

    left: 35%;
}

.othercontact p {

        text-align: center;
    }

.mainform .calling {

    width: 100%;
}

.conteiner-form label:nth-of-type(5) {

    position: relative;
    left: 25%;
    top: -405px;
}

.conteiner-form label:nth-of-type(6) {

    position: relative;
    left: 49%;
    top: -526px;
}

.conteiner-form #double {

    position: relative;
    left: 25%;
    top: -414px;

}

.conteiner-form #single {

    position: relative;
    left: 50%;
    top: -535px;

}

#pack {

    top: -575px ;
}

#promo {

    top: -590px;
}

.conteiner-form input[type="number"]{

    width: 14%;

}

.mainrooms {
    margin-top: 60px;
    overflow-x: hidden;
    width: 100%;
    min-height: 1000px;
}

#acomodation {

    margin-bottom: 60px;
    top: -10px;
}


.standardroom {

    width: 100%;
    left: -1%;
    top: -10px;

}

.cottage {

    width: 100%;
    left: -1%;
    top:  10px;
}

.title{

    left: 10%;
    top: 45px;
    width: 100%;
    text-align: center;
    border: none;

}


.conteiner-about {

    padding-top: 30px;
    min-height: 2250px;
    overflow: hidden;

}

.title-about {

    width: 100%;
    left: -7%;
    border: none;
    text-align: center;
}

.breakfast {

    width: 100%;
    left: 1%;
    top: 90px;

}

.restaurant {

    width: 100%;
    left: 1%;
    top: 150px;

}

.sauna {

    width: 100%;
    left: 1%;
    top: 215px;

}

.river {

    width: 100%;
    left: 1%;
    top: 290px;
}

.conteiner-map {

    height: 1500px;
}

#howtomap {

   height: 100px;
}


.mapbox {

    width: 85%;
    height:350px;

}

#box1 {

    left: -0.1%;
    top: 100px;
}

#box2 {

    left: -0.1%;
    top: 205px;
}

#box3 {

    left: -0.1%;
    top: 350px;

    }

.conteiner-promo {


    width: 100%;
    height:1550px;
}

.promobox {

    width: 95%;
}


#box4 {

    left: -0.1%;
    top: 150px;
}

#box5 {

    left: -0.1%;
    top: 320px;
}

#box6 {

    left: -0.1%;
    top: 500px;

}

#privacity {

    top: 10px;
    left: 30%;
}

.bgfooter {

    padding-top: 20px;
}


}

 


@media screen and (max-width: 700px) {


    .mainform {

        max-height: 1100px;
    }
    .fcontact ul li {
        top: -40px;
        left: 10%;
    }
    .fcontact p {

        left: -7%;
    }

    .othercontact {

        height: 320px;
    }
    .othercontact p {

        text-align: center;
    }

    .mainrooms h3 {

        left: -8%;
    }

    #promo {

        top: -500px ;
        left: -25%;
    }

    #pack {

        margin-top: 30px;
        top: -490px ;
        left: -25%;
    }

    .conteiner-form input[type="submit"] {

        top: -480px;
        margin-bottom: 60px;
    }

    
    .conteiner-form label:nth-of-type(6) {
    
        position: relative;
        left: 25%;
        top: -418px;
    }

    .conteiner-form  #single {

         position: relative;
        left: 25%;
        top: -418px;
    }



}



   
 